html {
    background-color: rgb(223, 223, 252);
}
img {
    margin: auto;
    display: block;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 20px;
}

.theTitle {
    font-size: 26px;
    font-family: verdana;
    padding: 15px;
    color: white;
    text-align: center;
    border-radius: 50px
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

h1 {
    font-size: 20px;
    font-family: verdana;
    padding: 10px;
    color: black;
    text-align: center;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    color: grey;
}